function Main.main 14
push constant 16
pop local 2
push constant 8
pop local 3
push constant 8
pop local 4
push constant 8
pop local 5
push constant 31
pop local 6
push constant 30
pop local 7
push constant 6
pop local 8
push constant 1
pop local 9
label LABEL_1
push local 9
push constant 3
lt
not
if-goto LABEL_0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 11
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 9
call Output.printInt 1
pop temp 0
push constant 3000
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push local 3
call Array.new 1
pop local 10
push constant 0
pop local 0
label LABEL_3
push local 0
push local 3
lt
not
if-goto LABEL_2
push local 10
push local 0
add
push local 2
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 1
label LABEL_5
push local 1
push local 2
lt
not
if-goto LABEL_4
push local 10
push local 0
add
pop pointer 1
push that 0
pop local 11
push local 11
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto LABEL_5
label LABEL_4
push local 0
push constant 1
add
pop local 0
goto LABEL_3
label LABEL_2
push local 10
push local 9
call MazeGenerator.generate 2
pop temp 0
push local 10
push local 4
push local 5
push local 6
push local 7
push local 2
push local 3
call MazeDrawer.drawMaze 7
pop temp 0
push constant 0
push constant 0
call Player.new 2
pop local 12
push local 12
push local 10
push local 4
push local 5
push local 6
push local 7
push local 2
push local 3
push local 8
call PlayerController.new 9
pop local 13
push local 4
push local 5
push local 6
push local 7
push local 2
push local 3
push constant 8
call Main.drawEndPoint 7
pop temp 0
push local 13
call PlayerController.loop 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push local 9
push constant 1
add
pop local 9
goto LABEL_1
label LABEL_0
push constant 11
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Main.drawEndPoint 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 4
push constant 1
sub
push argument 2
call Math.multiply 2
add
push argument 2
push constant 2
call Math.divide 2
add
push argument 1
push argument 3
push constant 2
call Math.divide 2
add
push argument 6
call Screen.drawCircle 3
pop temp 0
push constant 0
return
